.whole-details-page{
    display: flex;
    justify-content: right;
    height: auto;
    width: 50%;
    margin-left: 20%;
    padding: 10px;
}

.details-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}


.course-video{
    position: relative;
    height: 190px;
    width: 100%;
    overflow: hidden;

}

.course-video iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details-video h1{
    margin-top: 15px;
    text-align: center;
    color: rgb(36, 36, 36);
    font-weight: 500;
    font-size: 20px; 
}

.details-video .detains-second-line{
    display: flex;
    gap :20px;
}

.details-video p{
    margin-top: 5px;
    color: rgb(101, 101, 101);
    font-weight: 500;
    font-size: 14px; 
}

.details-overview{
    margin-top: 30px;
    width: 60%;
}


.overview-description{
    display:flex;
    gap: 20px;

}

.overview-description a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: rgb(101, 101, 101);
}

.details-line{
    margin-top: 10px;
    border: 1px solid rgb(207, 204, 204);
    width: 160%;
}


/*  */
.about-course-overview{
    margin-top:15px;
    width: 150%;
   ;
}

.about-course-overview p{
    margin-top: 5px;
    color: rgb(101, 101, 101);
    font-size: 13px;
}

.about-course-overview ul{
    margin-top: 5px;
    margin-left: 15px;
    color: rgb(101, 101, 101);
    font-size: 13px;
}


/* second part */

.detains-second{
    position: absolute;
    background-color: white;
    height:550px;
    width: 300px;
    margin-right: 2%;
    right:-0;
    margin-top: 2px;

}

.details-second-section{
    margin-top: 50px;
    margin-left: 25px;
    
}

.details-second-section img{
    object-fit: cover;
    height: 390px;
    width: 200px;
}