 .whole-column-container{
    width: 100%;
    margin-left: 75%;
 }
 
 .courses-box {
    background-color:white;
    height: 180px; 
    width: 280px; 
    margin: 15px ;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    word-wrap: break-word; 
    text-align: left;
    border: 1px solid rgb(231, 228, 228);
    
}

.courses-box p {
    font-size: 14px;
    color: rgb(21, 21, 21);
    margin: 5px 10px;
    word-wrap: break-word; 
    font-weight: bold;
    overflow-wrap: break-word; 
    text-align: left;
}

.box-logo img{
    height: 30px;
    width: 30px;
    margin-left: 10px;
    border-radius: 50%;
}

.box-logo p{
    font-size: 17px;
    font-weight: bold;
    color: rgb(10, 10, 10);
}

 .box-img {
    display: flex;
    flex-wrap: wrap;
    
}

.box-img p{
    margin-left: 15px; 
    font-size: 12px; 
} 

.box-img img{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-left: 10px;
}


.box-content {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

.lesson-hours {
    display: flex;
    gap: 10px; 
}

.box-content .progress-status {
    color: black;
    margin-top: 10px; 
}




