
:root{
    color: #D1F8EF;
    color:#FFEDFA;
    color: #E1EACD;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.row-container{
    height: 190px;
    width: 75%;
    font-family: sans-serif Arial,sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items:left;
    margin-left: 25%;
}
